%div.row
  %div.col-xs-0.col-sm-3

  %div.col-xs-12.col-sm-6
    = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { role: 'form', :method => :post, :id => 'confirmation-form'}) do |f|
      %div.panel.panel-default
        %div.panel-heading
          %h3.panel-title Resend Confirmation
        %div.panel-body
          = render partial: 'layouts/alerts'
          %div.form-group
            %label Email
            %input#user_email.required.email.form-control{:type => 'text', :name => 'user[email]', :placeholder => 'Email', :autofocus => 'true'}
              
          %div.form-group
            %button.btn.btn-primary.form-control{:type => 'submit'} Resend confirmation instructions

            
= content_for :javascript do
  $("#confirmation-form").validate();
