%div.control-group
  %div.transaction-alerts
  %table.table.table-hover#credit-card-transactions-table
    %tr
      %th Credit Card
      %th Type
      %th Amount
      %th Status
      %th Date
      
    - current_user.credit_card_transactions.order('id desc').each do |credit_card_transaction|
      = render :partial => 'credit_card_transactions/row', :locals => {:credit_card_transaction => credit_card_transaction}