%table.table.table-hover{style: 'margin:0px 0px 0px;'}
  %tbody#card-form{style: "#{!current_user.credit_cards.empty? ? 'display:none;' : ''} "}
    %tr
      %td
        / = form_for(CreditCard.new, :url => credit_cards_path, :html => { :method => :post, :id => 'credit-card-form', :role => 'form' }) do |f|
        - @credit_card ||= CreditCard.new
        %div.row
          %div.form-group.col-xs-12.col-sm-6
            %label Credit Card #
            %input.required.form-control.number{type: 'text', placeholder: 'Number', id: 'credit_card_number', name: 'credit_card[number]'}
          %div.form-group.col-xs-12.col-sm-6
            %label CVV
            %input.required.form-control.cvv{type: 'text', placeholder: 'CVV', id: 'credit_card_cvv', name: 'credit_card[cvv]'}
        %div.row
          %div.form-group.col-xs-12
            %label Expiration Date
            %div.clearfix
            = date_select :credit_card, :expires_at, {:discard_day => true, :user_short_month => true, :add_month_numbers => true, :start_year => Time.now.year, :end_year => Time.now.year + 10, :order => [:month, :year], :include_blank => false, :prompt => [:year => 'Expiration Year', :month => 'Expiration Month']}, {:class => 'form-control required col-xs-3', style: 'width:50%;'}
            / %div.form-group.col-xs-12.col-sm-4
            /   %label
            /   %input.btn.btn-primary.form-control{type: 'submit', value: 'Add Card'}


