%div.control-group
  %div.credit-cards-alerts
  %table.table.table-hover#credit-cards-table
    %thead
      %tr
        %th{colspan: 5} Select a card ...
    %tbody
      - current_user.credit_cards.order('id desc').each do |credit_card|
        = render :partial => 'credit_cards/row', :locals => {:credit_card => credit_card}

= content_for :javascript do
  :plain
    $('.default-credit-card').change(function(){
      $.ajax({
        type: "PUT",
        url: "/credit_cards/" + this.id,
        data: { 'credit_card[is_default]': "true" }
      }).done(function( msg ) {
      });
    });