<p><strong>Season To</strong> is a subscription service for gourmet salts and peppers.  Each month you will receive one gourmet salt and one gourmet pepper curated by our professional chefs.</p>
<p>Included in the kit each month will be information cards describing the origin, characteristics, and suggested uses for each salt and pepper.  We hope to tell you the stories of these spices and to broaden your experience of food that we eat everyday.  And it's easy to get started ...</p>
<h1>1. Select a Plan</h1>
<p>Select a billing plan that works best for you.  You can choose from one of the following and cancel at anytime:
  <ul style="margin-left:50px;">
    <li>monthly - $15/month</li>
    <li>quarterly - $40/3 months (save 10%)</li>
    <li>semi-annually - $70/6 months (save 20%)</li>
    <li>yearly - $120/12 months (save 30%)</li>
  </ul>
</p>
<h1>2. Purchase a Subscription</h1>
<p>After you choose a plan, we will ask you to enter your billing and shipping information so that we can process your order and start your subscription immediately.</p>
<p>Once your payment has been successfully processed, your first shipment will be scheduled for the first business day following the placement of your order.  Typically, you will receive your first shipment within 5-7 days of signing up.</p>
<p>The day on which you sign up will be the one each month on which we send your shipments as well as renew your subscription when applicable.</p>
<h1>3. Shipment Notification</h1>
<p>Every month we will send you a notification when your items have shipped so that you know when to expect them.</p>
<h1>4. Enjoy!</h1>
<p>As they say, variety is the 'spice' of life.</p>

<%= link_to 'Sign Up Now!', new_user_registration_path, class: 'btn btn-primary' %>