%h1 Gift Confirmation

%p Thanks for placing your order with us.  We sent an email to YOUR BEST BUDDY EVER with instructions on how to activate their gift subscription.

%p If you ever need to resend the redemption email, just go to your account page, select gifts, and resend the email.

%p And btw, if you refer people, you get free deliveries .... WOOOO!