

%h1 Hi #{current_user.first_name}, let's get started ...

%h2 Select a plan

%div.plan-select
  %div.btn-group
    %button.btn.btn-default{type: 'button'} <p>Monthly</p>$15
    %button.btn.btn-default{type: 'button'} <p>3 Months</p>$40
    %button.btn.btn-default{type: 'button'} <p>6 Months</p>$70
    %button.btn.btn-default{type: 'button'} <p>12 Months</p>$100

%h2 Enter shipping address

= form_for @subscription, url: {action: "create"}, html: {id: "new_subscription_form"} do |f|
  %div.row
    %div.col-xs-8
      %input.form-control.required.first_name{type: 'text', name: 'address[first_name]', id: 'address_first_name', placeholder: 'First Name', autofocus: true}
    %div.col-xs-4
      %input.form-control.last_name{type: 'text', name: 'address[last_name]', id: 'address_last_name', placeholder: 'Last Name'}
  
  %div.row
    %div.col-xs-8
      %input.form-control.required.address1{type: 'text', name: 'address[address1]', id: 'address_address1', placeholder: 'Address'}
    %div.col-xs-4
      %input.form-control.address2{type: 'text', name: 'address[address2]', id: 'address_address2', placeholder: 'Address (cont.)'}
  
  %div.row
    %div.col-xs-4
      %input.form-control.required.city{type: 'text', name: 'address[city]', id: 'address_city', placeholder: 'City'}
    %div.col-xs-4
      %input.form-control.required.state{type: 'text', name: 'address[state]', id: 'address_state', placeholder: 'State'}
    %div.col-xs-4
      %input.form-control.required.zip{type: 'text', name: 'address[zip]', id: 'address_zip', placeholder: 'Zip Code'}

  %h2 Enter payment info

  %div.row
    %div.col-xs-6
      %input.form-control.required.credit_card_number{type: 'text', name: 'credit_card[number]', id: 'credit_card_number', placeholder: 'Credit Card Number'}
    %div.col-xs-2
      %input.form-control.required.credit_card_cvv{type: 'text', name: 'credit_card[cvv]', id: 'credit_card_cvv', placeholder: 'CVV'}
    %div.col-xs-4
      = date_select :credit_card, :expires_at, {:discard_day => true, :user_short_month => true, :add_month_numbers => true, :start_year => Time.now.year, :end_year => Time.now.year + 10, :order => [:month, :year], :include_blank => false, :prompt => [:year => 'Expiration Year', :month => 'Expiration Month']}, {style: 'width:50%;', :class => 'form-control col-xs-1 required'}

  %div.row
    %div.col-xs-12{style: 'text-align:center;margin:50px 0px;'}
      %button.btn.btn-lg.btn-success.pull-right{type: 'submit', id: 'purchase_button'} Purchase Now!
  

= content_for :javascript do
  :plain
    $('#new_subscription_form').validate();