%strong Yin and Yang
#{image_tag 'http://www.chiaroart.com/image/cache/data/01FUA/salt%20and%20pepper%20fork-600x600.jpg', class: 'img-thumbnail'}
%p Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}