%div.row
  %div.col-xs-12.col-sm-12.col-md-8
    %h3 Yin and Yang
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.text-muted Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}
  %div.col-xs-12.col-sm-12.col-md-4
    #{image_tag 'http://www.chiaroart.com/image/cache/data/01FUA/salt%20and%20pepper%20fork-600x600.jpg', class: 'img-thumbnail img-responsive'}


  