%div.footer
  %div.container
    %span.pull-left &copy; 2014 Season To
    %span.pull-right
      %a{href: '#'} Terms of Service
      &middot;
      %a{href: '#'} Privacy Policy
      &middot;
      %a{href: '#'} Contact Us